@-ms-viewport{
  width: device-width;
  height: device-height;
}


/* INITIAL BODY */
body {
  background: url('../images/sky2.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  left: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}

h1 {
  text-align: center;
  margin-top: 15vh;
  margin-bottom: 2vh;
  font-size: 10vw;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-weight: 700;
}

h3 {
  text-align: center;
  font-size: 7.5vw;
  font-family: 'Raleway', sans-serif;
  color: black;
}

.main-content {
  overflow: scroll;
  height: 75vh;
  text-align: center;
}



/* TOP CORNER ICONS */
html, body, #page1, #page2, #page3, #site {
    height:100%;
    width:100%;
}

.prev {   
  height:20%;
  position: absolute;
  top: 5vh;
  left: 5vw;
}

.next {
  height:20%;
  position: absolute;
  top: 5vh;
  right: 5vw;
}



/* MAIN PAGE */
.main-content #demo{
  text-align: center;
  font-size: 8vw;
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

.main-content #weather{
  text-align: center;
  font-size: 22vw;
  margin-bottom: 0;
  margin-top: 0;
  font-family:'PT Sans', sans-serif;
  font-weight: 700;
  color: #fff;
}

.main-content #feels-like{
  text-align: center;
  font-size: 6vw;
  margin-bottom: 0;
  margin-top: 0;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

.main-content #recommend{
  text-align: center;
  font-size: 8vw;
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

#recommend img {
  width: 45vw;
  height: 27.5vh;
  padding-top: 3vh;
  padding-left: 1vh;
  padding-right: 1vh;
}



/* FORECAST */
#forecast {
  text-align: center;
  font-size: 4vw;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  padding-bottom: 1vh;
}



/* SETTINGS */
#temp {
  color: #fff;
  font-size: 6vw;
  font-family: 'Lato', sans-serif;
}

#notif {
  color: #fff;
  font-size: 6vw;
  font-family: 'Lato', sans-serif;
  padding-bottom: 5vh;
}

input {
  margin-top: 1.5vh;
  margin-bottom: 3vh;
}

.button {
  font-family: 'arial black';
  color: #000000 !important;
  font-size: 15px;
  padding: 10px 25px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #3866A3;
  background: #F7F7F7;
}

.button:hover {
  color: #14396A !important;
  background: #468CCF;
  background: linear-gradient(top,  #468CCF,  #63B8EE);
  background: -ms-linear-gradient(top,  #468CCF,  #63B8EE);
  background: -webkit-gradient(linear, left top, left bottom, from(#468CCF), to(#63B8EE));
  background: -moz-linear-gradient(top,  #468CCF,  #63B8EE);
}

.button:active {
  position:relative;
  top:1px;
}





#hourly {
  text-align: center;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  padding-bottom: 70px;
}
#hourly td{
  padding-left: 10px;
  padding-right: 10px;
}
#hour {
  text-align: center;
  font-size: 28px;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
}

